@model CommunityCar.Web.ViewModels.Community.FriendshipViewModel


<div class="friend-card">
    <div class="friend-avatar-container">
        @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
        {
            <img src="@Model.ProfilePictureUrl" alt="@Model.FriendName" class="friend-avatar">
        }
        else
        {
            <div class="friend-avatar-placeholder">
                @Model.FriendName.Substring(0, 1)
            </div>
        }
        
        <div class="friend-info">
            <a href="@Url.Action("Index", "Profiles", new { area = "Identity", id = Model.Slug })" class="friend-name">
                @Model.FriendName
            </a>
            <div class="friend-meta">
                <i class="fas fa-calendar-check"></i> Friends since @Model.Since.ToString("MMM yyyy")
            </div>
        </div>
    </div>

    <div class="friend-actions">
        <a href="@Url.Action("Conversation", "Chats", new { area = "Communications", id = Model.FriendId })" class="btn-friend-action btn-friend-message" title="Message">
            <i class="fas fa-comment"></i>
        </a>
        <a href="@Url.Action("Index", "Profiles", new { area = "Identity", id = Model.Slug })" class="btn-friend-action btn-friend-view" title="View Profile">
            <i class="fas fa-user"></i>
        </a>
        
        <div class="dropdown">
            <button class="btn-friend-action btn-friend-options" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow-lg border-0">
                <li>
                    <form asp-controller="Friends" asp-action="RemoveFriend" method="post" class="d-inline ajax-remove-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="friendId" value="@Model.FriendId" />
                        <button type="submit" class="dropdown-item text-danger d-flex align-items-center gap-2">
                            <i class="fas fa-user-minus"></i> Remove Friend
                        </button>
                    </form>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-controller="Friends" asp-action="BlockUser" method="post" class="d-inline ajax-block-form">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="friendId" value="@Model.FriendId" />
                        <button type="submit" class="dropdown-item text-danger d-flex align-items-center gap-2">
                            <i class="fas fa-ban"></i> Block User
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
